* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0;
}

.slide1-container {
    margin: 0px;
    max-width: 100vw;
    max-height: 100vh;
}

.navbar_wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    top: 7%;
    left: 52%;
    transform: translate(-52%, -12%);
    white-space: nowrap;
}

.navbar_wrapper div,img {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-size: 18pt; 
    color: rgba(77, 73, 89, 255);
    margin-right: 3vw;
}

.slide2-container {
    background: #f2f2f2;
    margin: 0px;
}

.image2 {
    position: absolute;
    z-index: -1;
}

.icon2 {
    position: relative;
    padding-top: 5%;
    left: 52%;
    transform: translate(-52%, -12%);

}

h2 {
    padding-top: 2%;
    padding-bottom: 3%;
    font-family: ﻿Lato-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(53, 55, 56, 255);
    text-align: center;
}

.text {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(132, 135, 137, 255);
    text-align: center;
}

.slide3-container {
    background-color: white;
    position: relative;
    width: 100%;
    padding-top: 37.4%; /* 3:2 Aspect Ratio */

}

.slide3-1 {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    float:left;
    width: 66.6%;
}


.image3-1 {
    width:100%;
}

.icon3-1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 113px;
    height: 118px;
    margin-top: -56px;
    margin-left: -59px;
}

.slide3-2 {
    position:  absolute;
    top: 0;
    left: 66.6%;
    bottom: 0;
    right: 0;
    width: 33.3%;
    text-align: center;

}

.icon3-2 {
    padding-top: 5%;
    padding-left: 10%;
}

h3 {
    font-family: ﻿Lato-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(53, 55, 56, 255);
    font-size: 18pt;
    font-size: 2vw;
}

.text3 {
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 16pt;
    font-size: 1.5vw;
    color: rgba(132, 135, 137, 255);
    text-align: justify;
    
}

.slide3-3 {
    position:  absolute;
    top: 66.6%;
    left: 66.6%;
    bottom: 0;
    right: 0;
    width: 33.3%;

}
.image3-2 {
    padding-top: 0%;
    width:100%;
}
